<th:block th:fragment="menu">
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<a
			href="/"
			class="brand-link">
			<img
				th:src="@{/webjars/AdminLTE/dist/img/AdminLTELogo.png}"
				alt="AdminLTE Logo"
				class="brand-image img-circle elevation-3"
				style="opacity: .8"> <span class="brand-text font-weight-light">AdminLTE 3</span>
		</a>
		<div class="sidebar">
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img
						th:src="@{/webjars/AdminLTE/dist/img/user2-160x160.jpg}"
						class="img-circle elevation-2"
						alt="User Image">
				</div>
				<div class="info">
					<a
						href="#"
						class="d-block">Philmaster Yeah</a>
				</div>
			</div>
			<form class="form-inline ml-3">
				<div
					class="input-group"
					data-widget="sidebar-search">
					<input
						class="form-control form-control-sidebar"
						type="search"
						placeholder="Search"
						aria-label="Search">
					<div class="input-group-append">
						<button
							class="btn btn-sidebar"
							type="submit">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</form>
			<nav class="mt-2">
				<ul
					class="nav nav-pills nav-sidebar flex-column"
					data-widget="treeview"
					role="menu">
					<li class="nav-item"></li>
					<li class="nav-item"><a
							href="#"
							th:href="@{/dashboard}"
							class="nav-link">
							<i class="nav-icon fas fa-th"></i>
							<p>Dashboard</p>
						</a></li>
					<li class="nav-item"><a
							href="#"
							th:href="@{/userList}"
							class="nav-link">
							<i class="nav-icon fas fa-users"></i>
							<p>User List</p>
						</a></li>
					<li class="nav-item"><a
							href="#"
							th:href="@{/quizList}"
							class="nav-link">
							<i class="nav-icon fas fa-question"></i>
							<p>
								Quiz List <span class="right badge badge-danger">New</span>
							</p>
						</a></li>
					<li class="nav-header">Static</li>
					<li class="nav-item"><a
							href="#"
							th:href="@{/404}"
							class="nav-link">
							<i class="nav-icon far fa-circle text-warning"></i>
							<p class="text">404</p>
						</a></li>
					<li class="nav-item"><a
							href="#"
							th:href="@{/500}"
							class="nav-link">
							<i class="nav-icon far fa-circle text-danger"></i>
							<p>500</p>
						</a>
					<li class="nav-item"><a
							href="#"
							th:href="@{/user/login}"
							class="nav-link">
							<i class="nav-icon fas fa-edit"></i>
							<p>Login</p>
						</a></li>
					</li>
				</ul>
			</nav>
		</div>
	</aside>
</th:block>
