<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{template}" th:with="title=${'Quiz List'}">
<head>
<title>Quiz List</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 th:text="#{label.myquizzes.welcome}" class="card-title">Quiz List with JQuery</h3>
                    </div>
                    <div class="card-body">
                        <form th:object="${quizzes}" th:action="@{/quizList}" method="get">
                            <div class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p th:text="${err}" />
                                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th>
                                                        <span th:text="#{label.quiz.header.id}" />
                                                    </th>
                                                    <th>
                                                        <span th:text="#{label.quiz.header.name}" />
                                                    </th>
                                                    <th>
                                                        <span th:text="#{label.quiz.header.description}" />
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="quiz : ${quizzes}">
                                                    <td th:text="${quiz?.id}" />
                                                    <td th:text="${quiz?.name}" />
                                                    <td th:text="${quiz?.description}" />
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DataTables -->
    <th:block layout:fragment="script">
        <script th:src="@{/webjars/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/jszip/jszip.min.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/pdfmake/pdfmake.min.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/pdfmake/vfs_fonts.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
        <script th:src="@{/webjars/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
        <script th:src="@{/js/pages/quizList.js}"></script>
    </th:block>
</body>
</html>