<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{template}">
<head>
<title>User List</title>
</head>
<body>
    <div layout:fragment="header">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">User List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">User List</li>
                </ol>
            </div>
        </div>
    </div>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-3 col-6">TODO</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">FOOBAR</div>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/js/pages/userList.js}"></script>
    </th:block>
</body>
</html>