<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{template}" th:with="title=${'User List'}">
<head>
<title>User List</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Pure Spring Thymeleaf Datatable without JQuery</h3>
                    </div>
                    <div class="card-body">
                    
                        <form th:object="${users}" th:action="@{/userList}" method="get">
                            <div class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <!-- 
                                            <div class="dataTables_length" id="example1_length">
                                                <label>
                                                    Show
                                                    <select name="userListlength" class="custom-select custom-select-sm form-control form-control-sm">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                    entries
                                                </label>
                                            </div>
                                            -->
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_filter">
                                            <label>
                                                Search:
                                                <input type="search" class="form-control form-control-sm" placeholder="Username" name="search" id="search" th:value="${search?.username}" />
                                                <input type="submit" value="Search" />
                                                <div th:if="${not #lists.isEmpty(search)}">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Name</th>
                                                            <th>Surname</th>
                                                        </tr>
                                                        <tr th:each="user: ${users}">
                                                            <td th:text="${user?.id}" />
                                                            <td th:text="${user?.username}" />
                                                            <td th:text="${user?.email}" />
                                                        </tr>
                                                    </table>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p th:text="${err}" />
                                        <table class="table table-bordered table-striped dataTable" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th th:class="${users?.sort?.getOrderFor('id')?.ascending} ? 'sorting_desc' : 'sorting_asc'">
                                                        <a th:href="@{/userList(page=${users.number},size=${users.size},sort=(${users?.sort?.getOrderFor('id')?.ascending} ? 'id,desc' : 'id,asc'))}" th:text="#{label.user.header.id}" />
                                                    </th>
                                                    <th th:class="${users?.sort?.getOrderFor('username')?.ascending} ? 'sorting_desc' : 'sorting_asc'">
                                                        <a th:href="@{/userList(page=${users.number},size=${users.size},sort=(${users?.sort?.getOrderFor('username')?.ascending} ? 'username,desc' : 'username,asc'))}" th:text="#{label.user.header.username}" />
                                                    </th>
                                                    <th th:class="${users?.sort?.getOrderFor('email')?.ascending} ? 'sorting_desc' : 'sorting_asc'">
                                                        <a th:href="@{/userList(page=${users.number},size=${users.size},sort=(${users?.sort?.getOrderFor('email')?.ascending} ? 'email,desc' : 'email,asc'))}" th:text="#{label.user.header.email}" />
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="user : ${users}">s
                                                    <td ><a th:text="${user?.id}" th:href="@{'/userDetail/' + ${user?.id}}" ></a></td>
                                                    <td th:text="${user?.username}" />
                                                    <td th:text="${user?.email}" />
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info">
                                            <span th:text="@{${users.numberOfElements}}"></span>
                                            -
                                            <span th:text="@{${users.size}}"></span>
                                            of
                                            <span th:text="@{${users.totalElements}}"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous" th:classappend="${users.hasPrevious}? '' : 'disabled'">
                                                    <a href="#" th:href="@{/users(page=${users.number-1},size=${users.size})}" class="page-link">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item " th:if="${users.totalPages > 0}" th:classappend="${i==users.number} ? active" th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}">
                                                    <a href="#" th:href="@{/userList(page=${i},size=${users.size})}" th:text=${i+1} class="page-link"></a>
                                                </li>
                                                <li class="paginate_button page-item next" th:classappend="${users.hasNext}? '' : 'disabled'">
                                                    <a href="#" th:href="@{/userList(page=${users.number+1},size=${users.size})}" class="page-link">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-default" th:onclick="@{}">-</button>
                        <button type="submit" class="btn btn-default float-right">
                            <a th:href="@{/userDetail}">add</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/js/pages/userList.js}"></script>
    </th:block>
</body>
</html>