<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{template}">
<head>
<title>User List</title>
</head>
<body>
    <section layout:fragment="header">
        <h1>
            User List
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    Home
                </a>
            </li>
            <li class="active">User List</li>
        </ol>
    </section>
    <div layout:fragment="content">asd</div>
    <script src="/js/pages/userList.js"></script>
</body>
</html>