<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{template}"
	th:with="title=${'User Detail'}">
<head>
<title>User Detail</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<div class="col-12">
							<form
								name='f'
								th:action="@{/saveUser}"
								th:object="${user}"
								method='POST'
								class="form-signin"
								enctype="multipart/form-data">
								<div th:if="${#fields.hasAnyErrors()}">
									<ul>
										<li
											th:each="err : ${#fields.allErrors()}"
											th:text="${err}" />
									</ul>
								</div>
								<div class="form-group">
									<label th:text="#{label.user.username}">Username</label>
									<input
										th:placeholder="#{label.user.username.placeholder}"
										name="username"
										class="form-control"
										required="true"
										autofocus="true"
										th:value="${user.username}" />
									<br />
									<label th:text="#{label.user.email}">Email</label>
									<input
										th:placeholder="#{label.user.email.placeholder}"
										name="email"
										class="form-control"
										required="true"
										autofocus="true"
										th:value="${user.email}" />
									<br />
									<label th:text="#{label.user.password}">Password</label>
									<input
										th:placeholder="#{label.user.password.placeholder}"
										name="password"
										class="form-control"
										required="true"
										autofocus="true"
										th:value="${user.password}" />
									<br />
									<button
										class="btn btn-lg btn-primary btn-block"
										type="submit">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>